---
config_dir: '/home/{{ ansible_user }}/'
chrome_url: 'https://dl.google.com/linux/direct/google-chrome-stable_current_amd64.deb'
ms_vscode_mirror: 'https://packages.microsoft.com'
oh_my_posh_url: 'https://github.com/JanDeDobbeleer/oh-my-posh/releases/latest/download/posh-linux-amd64'
poshconfig: 'eval "$(oh-my-posh --init --shell bash --config ~/.poshthemes/{{ ansible_user }}.omp.json)"'
meslofont_url: 'https://github.com/ryanoasis/nerd-fonts/releases/latest/download/Meslo.zip'
